@model LivroCaixa.Models.Mei

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<h2>Excluir MEI</h2>

<h3>Confirma que deseja excluir este MEI?</h3>
<h2>TODOS os lançamentos, usuários e tipos de movimento cadastrados serão removidos e NÃO PODERÃO SER RECUPERADOS!!!!</h2>
<div>
    <h4>Mei</h4>
    <hr />
    <dl class="dl-horizontal">       
        
        <dt>
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logradouto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logradouto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProprietario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProprietario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
