@model LivroCaixa.Models.TipoMovimento

@{
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}


    <h3>Confirma Exclusão deste Tipo de Movimento?</h3>
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.descricao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.descricao)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.receitadespesa)
            </dt>
    
            <dd>
                @if (Model.receitadespesa == "R")
                {
                    @Html.Display("Receita")
                }
                @if (Model.receitadespesa == "D")
                { 
                    @Html.Display("Despesa")
                }

            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Excluir" class="btn btn-default" /> |
                @Html.ActionLink("Voltar", "Index")
            </div>
        }
    </div>
